@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--t);
  transition-property: background, color;
  transition-duration: 0.5s;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  user-select: none;

  /* background
  a: accent
  */
  --bg: rgb(210, 210, 210);
  --bg-dark: rgb(40, 40, 40);
  --bg-hover: #cecece;
  --bg-hover-dark: #555;
  --bg-a1: #0055dd;
  --bg-a2: #88ccff;
  --bg-a1-dark: #221129;
  --bg-a2-dark: #113366;
  /* depth
  h: head
  c: content
  */
  --d1: #e0e0e080;
  --d2-h: #ffffff99;
  --d2-c: #ebebeb88;
  --d1-dark: #00000080;
  --d2-h-dark: #1f1f1f99;
  --d2-c-dark: #2d2d2d88;

  /* text
  c: content
  */
  --t: rgb(36, 36, 36);
  --t-dark: rgb(240, 240, 240);
  --t-c: black;
  --t-c-dark: white;
}
:root .dark {
  color: var(--t-dark);
}

.app {
  background: var(--bg);
}
.dark .app {
  background: var(--bg-dark);
}

img {
  pointer-events: none;
}

.selectable {
  user-select: text;
}
.img-selectable {
  pointer-events: all;
  user-select: text;
}
.group-selectable * {
  user-select: text;
}
.unselectable {
  user-select: none;
}
.group-unselectable * {
  user-select: none;
}

@font-face {
  font-family: "NovaModern";
  src: url("/assets/fonts/NovaModern.woff2") format("woff2");
}

.novamodern {
  font-family: "NovaModern";
}

/*
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
