/* ====================

COMPONENT CUSTOM CSS CLASSES CAN BE FOUND HERE

REUSABLE FOR TAILWIND INLINE CALLING

==================== */

/* flex */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-center-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-center-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


/* width & height */
.s-full {
  width: 100%;
  height: 100%;
}
.max-s-full {
  max-width: 100%;
  max-height: 100%;
}